[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "smallsets"]
	path = smallsets
	url = https://github.com/lydialucchesi/smallsets
